:root {
  --branding-color: #222043;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--default-font-family);
}

.logo {
  max-height: 40px;
  min-height: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

/* Navbar Section */

nav {
  padding: 0;
}

.nav-container {
  background: linear-gradient(
    60deg,
    #00f261,
    #0576e6,
    rgb(247, 16, 255),
    rgb(134, 6, 134)
  );
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  padding-left: 2rem;
  padding-right: 2rem;
}

.navbar-branding {
  font-size: 25px;
  font-family: "Playfair Display", serif;
  margin-top: 8px;
  padding: 8px 8px;
  border-radius: 50%;
  background: whitesmoke;
}

nav .logo-1 {
  color: black;
  min-width: 20px;
  min-height: 20px;
}

nav ul {
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  font-size: clamp(0.8rem, 2vw, 1.8rem);
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: whitesmoke;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li a.active {
  color: rgb(2, 2, 2);
}

@media (max-width: 300px) {
  nav .logo-1 {
    max-width: 30%;
    max-height: 30%;
  }
}

@media (max-width: 900px) {
  nav .logo-1 {
    max-width: 50%;
    max-height: 50%;
  }
}

/* Hero Section */
.hero {
  text-align: center;
  padding: 140px 20px 100px 20px;
  margin: 0;
  background: whitesmoke;
}

.hero .animate__animated {
  animation-duration: 3s;
}

.hero p {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  font-weight: bold;
  margin: 0;
  color: rgb(134, 6, 134);
}

.hero h1 {
  line-height: 1.5;
  font-size: clamp(2rem, 6vw, 5rem);
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: clamp(1rem, 3vw, 2.5rem);
  color: rgb(134, 6, 134);
}

.hero .btn-branding {
  background: rgb(134, 6, 134);
  border-radius: 4px;
  color: white;
  max-width: 100%;
  line-height: 25px;
  font-size: clamp(0.8rem, 2vw, 1rem);
  padding: 15px 20px;
}

.hero .btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

@media (max-width: 300px) {
  .hero .btn-branding {
    padding: 2px 2px;
  }
}
@media (max-width: 500px) {
  .hero .btn-branding {
    padding: 5px 5px;
  }
}
@media (max-width: 768px) {
  .hero .btn-branding {
    padding: 15px 15px;
  }
}

/* Skills Section */
.skills {
  margin: 0;
  background: #000000;
  padding-bottom: 4rem;
}

.skills h1 {
  font-size: clamp(1rem, 6vw, 2.5rem);
  color: whitesmoke;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.skills p {
  font-size: clamp(0.5rem, 4vw, 1.3rem);
  text-align: center;
  margin: auto;
  padding-bottom: 3rem;
  width: 50%;
  color: whitesmoke;
}

.skills img {
  display: block;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 600px;
}

.skills-list ul {
  color: whitesmoke;
  list-style: none;
  padding: 0.3rem;
  background-color: black;
  box-shadow: 0 0 12px 4px white;
  border-radius: 9px;
  justify-content: center;
  width: 400px;
  height: 100px;
  margin: 0.2rem;
}

.skills-list li {
  display: flex;
  justify-content: center;
  font-size: 18px;
  text-align: center;
}

.skills-list {
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 33%;
}

.skills-list .title {
  font-weight: 900;
  color: rgb(134, 6, 134);
  margin-bottom: 4px;
}

@media (max-width: 500px) {
  .skills {
    flex-direction: column;
    align-items: center;
  }
  .skills h1 {
    padding-bottom: 1rem;
  }
  .skills-list ul {
    width: 200px;
    height: 60px;
  }
  .skills-list li {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .skills {
    flex-direction: column;
    align-items: center;
  }

  .skills img {
    width: 40%;
  }
  .skills-list ul {
    width: 200px;
    height: 60px;
  }
  .skills-list li {
    font-size: 10px;
  }
}

@media (max-width: 1000px) {
  .skills img {
    width: 40%;
  }
}

/* Featured Projects */

.featured-projects {
  background: whitesmoke;
  font-size: clamp(1rem, 2.5vw, 2rem);
  padding-bottom: 4rem;
}

.featured-projects .animate__animated {
  animation-duration: 3s;
}

.dark .featured-projects {
  color: whitesmoke;
  background: black;
}

.theme-button {
  border-radius: 2rem;
  background: black;
  color: whitesmoke;
  padding: 1rem;
  margin-bottom: 3rem;
  transition: all 150ms ease-in-out;
  animation-duration: 3s;
  border: 3px solid purple;
}

.theme-button:hover {
  background: whitesmoke;
  color: black;
  font-weight: bold;
}

.dark .theme-button {
  background: whitesmoke;
  color: black;
  font-weight: bold;
}
.dark .theme-button:hover {
  background: black;
  color: whitesmoke;
}

/* Project Section */

.project {
  background: whitesmoke;
  padding: 6rem calc((100vw - 1100px) / 2);
  text-align: center;
  z-index: 1;
}

.project-wrapper {
  /* Responsive columns that auto adjust */
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  justify-content: center;
  z-index: 2;
}

.dark .project {
  background: black;
}

.project-card {
  background: #000000c7;
  padding: 18px 23px;
  margin-bottom: 1.5rem;
  height: 500px;
  width: 340px;
  border-radius: 10px;
  position: relative;
  z-index: 4;
}

.dark .project-card {
  background: #fefdfdc7;
  padding: 18px 23px;
  margin-bottom: 1.5rem;
  height: 500px;
  width: 340px;
  border-radius: 10px;
  position: relative;
  z-index: 4;
}

.project-card h2 {
  font-size: clamp(1.2rem, 4vw, 1.8rem);
  color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 1rem;
}

.dark .project-card h2 {
  color: black;
}

.project-card img {
  max-width: 100%;
  width: 280px;
  height: 280px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 10px;
  animation-duration: 3s;
}

.gradient-border {
  border-width: 10px;
  position: relative;
  border-radius: 10px;
}

.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * 5px);
  left: calc(-1 * 5px);
  height: calc(100% + 5px * 2);
  width: calc(100% + 5px * 2);
  background: linear-gradient(
    60deg,
    #00f260,
    #0575e6,
    rgb(247, 16, 255),
    rgb(134, 6, 134)
  );
  border-radius: calc(2 * 10px);
  z-index: 3;
  animation: animate 10s infinite;
  filter: blur(50px);
}

.gradient-border:hover:after {
  opacity: 1;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 350px 0;
  }
  50% {
    background-position: 0 350px;
  }
  75% {
    background-position: -350px 0;
  }
  100% {
    background-position: 0 -350px;
  }
}

.project-description .btn-branding-outline {
  color: whitesmoke;
  background-color: black;
  border-radius: 4px;
  font-size: clamp(0.8rem, 2vw, 1rem);
  line-height: 27px;
  padding: 15px 30px;
  animation-duration: 3s;
}

.more-projects .btn-branding-outline {
  color: whitesmoke;
  background: black;
  border-radius: 4px;
  font-size: clamp(0.8rem, 2vw, 1rem);
  line-height: 27px;
  padding: 15px 30px;
  margin-top: 3rem;
  animation-duration: 3s;
}

.dark .project-button {
  background: whitesmoke;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    60deg,
    #00f260,
    #0575e6,
    rgb(247, 16, 255),
    rgb(134, 6, 134)
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(16px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: rgb(134, 6, 134);
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.project-description a {
  font-size: 38px;
}

.animate__animated {
  animation-duration: 3s;
}

.description-animate .animate__animated {
  animation-duration: 3s;
}

@media (max-width: 500px) {
  .project-card {
    justify-content: space-between;
    margin: auto;
  }
  .product-card img {
    max-width: 50%;
    max-height: 50%;
  }
}

@media (max-width: 768px) {
  .gradient-border {
    padding-bottom: 0;
  }

  .product-card img {
    width: 250px;
    height: 250px;
  }
  .project-card {
    max-width: 100%;
    margin-bottom: 0;
    justify-content: space-between;
  }
}

@media (max-width: 1200px) {
  .gradient-border {
    border-width: 2px;
  }
  .project-card {
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
  }

  .product-card img {
    width: 250px;
    height: 250px;
  }
}

/* About Section */
.about .container {
  display: flex;
}

.about {
  padding: 6rem calc((100vw - 1100px) / 2);
  padding-bottom: 4rem;
}

.about .text {
  display: block;
  width: 47%;
  margin: 0 auto;
}

.about h1 {
  font-weight: 900;
  font-size: clamp(2rem, 3.5vw, 3rem);
}
.about h2 {
  font-weight: 900;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
}

.about p {
  font-size: clamp(1rem, 2vw, 1.5rem);
}
/* 
.about .photo {
  display: block;
  margin: auto;
  justify-content: center;
} */

.about img {
  /* Responsive image */
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  margin-left: 4rem;
}

.about .btn-branding {
  background: rgb(134, 6, 134);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

@media (max-width: 768px) {
  .about .container {
    grid-template-columns: 1fr;
    flex-direction: column;
    align-items: center;
  }
  .about .text {
    display: block;
    width: 80%;
    margin: 1rem;
    justify-content: center;
    text-align: center;
  }
  .about img {
    margin: auto;
  }

  .about {
    margin: 0 auto;
    justify-content: center;
  }

  .about .btn-branding {
    margin-bottom: 2rem;
  }
}

@media (max-width: 990px) {
  /* .about img {
    max-width: 350px;
  } */
  /* .about .text {
    margin: auto;
  } */
}

/* Contact Section */

.contact-container {
  padding: 130px 20px;
  background: whitesmoke;
}

.contact h1 {
  font-size: clamp(2.5rem, 6vw, 3.5rem);
  line-height: 80px;
}

.contact .border {
  border: 1px solid;
}

.contact .btn-branding {
  background: rgb(134, 6, 134);
  border-radius: 4px;
  color: white;
  width: 100%;
  max-width: 130px;
  line-height: 25px;
  font-size: clamp(1rem, 2vw, 1rem);
  padding: 10px 20px;
}

.contact p {
  font-size: 14px;
}

.contact-container .contact-box {
  padding-top: 2rem;
}

.contact a {
  color: rgb(134, 6, 134);
  font-size: 20px;
}

.contact-links {
  text-decoration: none;
  color: var(--branding-color);
}

/* Footer Section */
footer {
  background: whitesmoke;
}

footer h3 {
  font-size: 48px;
}

footer p {
  margin: 0;
  padding-bottom: 2rem;
}

footer .contact-box {
  background: linear-gradient(
    60deg,
    #00f261,
    #0576e6,
    rgb(247, 16, 255),
    rgb(134, 6, 134)
  );
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  padding: 50px 120px 10px 120px;
  border: 1px solid rgba(144, 143, 143, 0.263);
}

footer .contact-box h3 {
  font-size: clamp(2rem, 4vw, 3rem);
}

footer .contact-box p {
  font-size: clamp(1rem, 2vw, 2rem);
  margin: 0;
}

footer .btn-branding {
  background: black;
  border-radius: 4px;
  color: white;
  width: 100%;
  max-width: 150px;
  line-height: 25px;
  font-size: clamp(0.8rem, 2vw, 1rem);
  padding: 15px 20px;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 4px 14px;
  font-size: 32px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

footer .animate__animated {
  animation-duration: 3s;
}

.open-source {
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: var(--branding-color);
}

.open-source-link {
  text-decoration: none;
  color: var(--branding-color);
}

.open-source-link:visited {
  color: var(--branding-color);
}

@media (max-width: 768px) {
  footer h3 {
    text-align: center;
    justify-content: center;
  }
  footer p {
    text-align: center;
    justify-content: center;
  }

  footer .btn-branding {
    margin: auto;
    margin-bottom: 2rem;
    justify-content: center;
    display: block;
  }
}

@media (max-width: 900px) {
  .contact {
    text-align: center;
    padding: 0;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
