:root {
  --branding-color: #222043;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

.logo {
  max-height: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

/* Navbar */

nav {
  padding: 20px 0;
}

.navbar-branding {
  font-size: 30px;
  font-family: "Dancing Script", cursive;
  margin-top: 8px;
  padding: 15px 15px;
  border-radius: 50%;
  background: linear-gradient(90deg, #525252, #bdc0c0, #f3f5fa);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: fit-content;
}

nav ul {
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  font-size: clamp(1.2rem, 2vw, 1.8rem);
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #222043;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li a.active {
  color: var(--branding-color);
}

@media (max-width: 900px) {
  nav .logo-1 {
    max-width: 50%;
    max-height: 50%;
  }
}

/* Hero Section */
.hero {
  background: rgba(41, 6, 97, 0.301);
  text-align: center;
  padding: 160px 20px;
  margin: 0;
  background: linear-gradient(90deg, #525252, #bdc0c0, #f3f5fa);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: fit-content;
}

.hero .animate__animated {
  animation-duration: 3s;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #222043;
}

.hero p {
  font-size: clamp(1rem, 4vw, 2.5rem);
}

.hero h1 {
  line-height: 1.5;
  font-size: clamp(2rem, 6vw, 5rem);
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: clamp(1rem, 4vw, 2.5rem);
  color: #222043;
}

.hero .btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.hero .btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

/* Toolbox */
.toolBox .animate__animated {
  animation-duration: 3s;
}

.toolBox {
  max-width: 700px;
  max-height: 950px;
  padding: 40px;
  margin: 0 auto;
  text-align: center;
  border-radius: 30px;
}

.toolBox h2 {
  font-family: var(--heading-font-family);
  color: var(--branding-color);
  font-size: 50px;
  margin-bottom: 25px;
  text-decoration: underline;
}

.toolsIcons {
  padding: 6px 10px 20px 10px;
  color: var(--branding-color);
}

.toolsIcons .row {
  padding: 5px;
}

.toolsIcons .col {
  padding: 22px;
}

.toolsIcons i {
  font-size: 50px;
}

@media (max-width: 900px) {
  .toolBox {
    text-align: center;
    padding: 0px;
    border-radius: 10px;
    max-width: 500px;
    max-height: 580px;
  }

  .toolBox h2 {
    font-size: 30px;
    margin-top: 20px;
  }

  .toolsIcons .row .col {
    font-size: 12px;
    padding: 0px;
    margin: 0 auto;
  }

  .toolsIcons i {
    font-size: 28px;
  }
}

/* Feature Projects */

.featured-projects .animate__animated {
  animation-duration: 3s;
}

.featured-projects {
  font-size: 26px;
}

/* Project Section */

.project {
  background: linear-gradient(90deg, #222043, #959696, #b9b9ba);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: fit-content;
  color: var(--secondary-color);
  padding: 6rem calc((100vw - 1100px) / 2);
  text-align: center;
}

.project-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
}

.project-card {
  background: linear-gradient(90deg, #b9b9ba, #959696, #222043);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: fit-content;
  padding: 3rem;
  padding-bottom: 3rem;
  height: 550px;
  width: 340px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card h2 {
  font-size: clamp(2rem, 5vw, 2.5rem);
  color: #030213;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.project-card img {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 250px;
  height: 250px;
}

.project-description .btn-branding-outline {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  font-size: clamp(0.5rem, 2vw, 1rem);
  line-height: 27px;
  padding: 15px 30px;
}

.project-description a {
  font-size: 38px;
}

.dictionary-img .animate__animated {
  animation-duration: 3s;
}

@media screen and (max-width: 900px) {
  .project-wrapper {
    padding-bottom: 0;
  }
  .product-card img {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width: 1100px) {
  .project-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .project-card {
    width: 70%;
    margin-bottom: 2rem;
    justify-content: space-between;
  }
  .product-card img {
    width: 250px;
    height: 250px;
  }
}

.animate__animated {
  animation-duration: 3s;
}

.description-animate .animate__animated {
  animation-duration: 3s;
}

/* Contact Section */

.content-container {
  padding: 60px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

img {
  vertical-align: middle;
  border-radius: 10px;
}

.contact-links {
  text-decoration: none;
  color: var(--branding-color);
}

/* Footer Section */

footer {
  margin: 60px 0;
}

footer h3 {
  font-size: 48px;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 4px 14px;
  font-size: 32px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

footer .animate__animated {
  animation-duration: 3s;
}

.open-source {
  font-size: 20px;
  color: var(--branding-color);
}

.open-source-link {
  text-decoration: none;
  color: var(--branding-color);
}

.open-source-link:visited {
  color: var(--branding-color);
}

@media (max-width: 900px) {
  .content {
    text-align: center;
    padding: 0;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
