:root {
  --branding-color: #222043;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

/* Navbar Section */
nav {
  padding: 20px 0;
}

.nav-container {
  background: linear-gradient(
    60deg,
    #00f261,
    #0576e6,
    rgb(247, 16, 255),
    rgb(134, 6, 134)
  );
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  padding-left: 2rem;
  padding-right: 2rem;
}

.navbar-branding {
  font-size: 25px;
  font-family: "Playfair Display", serif;
  padding: 8px 8px;
  border-radius: 50%;
  background: whitesmoke;
}

nav .logo-1 {
  color: black;
}

nav ul {
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  font-size: clamp(0.8rem, 2vw, 1.8rem);
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: whitesmoke;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li a.active {
  color: rgb(2, 2, 2);
}

@media (max-width: 300px) {
  nav .logo-1 {
    max-width: 30%;
    max-height: 30%;
  }
}

@media (max-width: 900px) {
  nav .logo-1 {
    max-width: 50%;
    max-height: 50%;
  }
}

/* Featured Projects */

.header {
  background: whitesmoke;
  padding: 2rem;
}

.featured-projects {
  background: whitesmoke;
  font-size: clamp(1.2rem, 4vw, 1.8rem);
  padding: 2rem;
  margin-top: 2rem;
}

.featured-projects .animate__animated {
  animation-duration: 3s;
}

.dark .project {
  color: black;
  background: whitesmoke;
}

.dark .project-wrapper {
  color: black;
  background: whitesmoke;
}

.theme-button {
  border-radius: 2rem;
  background: black;
  color: whitesmoke;
  padding: 1rem;
  display: block;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  transition: all 150ms ease-in-out;
  animation-duration: 3s;
  border: 3px solid purple;
}

.theme-button:hover {
  background: whitesmoke;
  color: black;
  font-weight: bold;
}

.dark .theme-button {
  background: whitesmoke;
  color: black;
  font-weight: bold;
}
.dark .theme-button:hover {
  background: black;
  color: whitesmoke;
}

/* Work Section */

.project {
  background: black;
  padding: 6rem calc((100vw - 1100px) / 2);
  text-align: center;
  z-index: 1;
}

.project-wrapper {
  /* Responsive columns that auto adjust */
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  justify-content: center;
  z-index: 2;
}

.project-card {
  background: whitesmoke;
  padding: 18px 23px;
  margin-bottom: 0.8rem;
  height: 410px;
  width: 255px;
  border-radius: 10px;
  position: relative;
  z-index: 4;
}

.project-card h2 {
  font-size: clamp(1.2rem, 4vw, 1.8rem);
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.project-card img {
  max-width: 100%;
  width: 250px;
  height: 250px;
  margin-top: 0.5rem;
  border-radius: 10px;
  animation-duration: 3s;
}

.gradient-border {
  border-width: 10px;
  position: relative;
  border-radius: 10px;
}

.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * 5px);
  left: calc(-1 * 5px);
  height: calc(100% + 5px * 2);
  width: calc(100% + 5px * 2);
  background: linear-gradient(
    60deg,
    #00f260,
    #0575e6,
    rgb(247, 16, 255),
    rgb(134, 6, 134)
  );
  border-radius: calc(2 * 10px);
  z-index: 3;
  animation: animate 10s infinite;
  filter: blur(50px);
}

.gradient-border:hover:after {
  opacity: 1;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 350px 0;
  }
  50% {
    background-position: 0 350px;
  }
  75% {
    background-position: -350px 0;
  }
  100% {
    background-position: 0 -350px;
  }
}

.project-description .btn-branding-outline {
  color: whitesmoke;
  background: black;
  border-radius: 4px;
  font-size: clamp(0.5rem, 2vw, 0.8rem);
  margin-top: 0.5rem;
  line-height: 27px;
  padding: 5px 10px;
  animation-duration: 3s;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    60deg,
    #fdfdfd,
    #b4b4b5,
    rgb(150, 148, 150),
    rgb(118, 116, 116)
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(10px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: rgb(134, 6, 134);
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -3;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: whitesmoke;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.project-description a {
  font-size: 38px;
}

.animate__animated {
  animation-duration: 3s;
}

.description-animate .animate__animated {
  animation-duration: 3s;
}

@media (max-width: 500px) {
  .project-card {
    justify-content: space-between;
    margin: auto;
  }
  .product-card img {
    max-width: 50%;
    max-height: 50%;
  }
}

@media (max-width: 768px) {
  .gradient-border {
    padding-bottom: 0;
  }

  .product-card img {
    width: 250px;
    height: 250px;
  }
  .project-card {
    max-width: 100%;
    margin-bottom: 0;
    justify-content: space-between;
  }
}

@media (max-width: 1200px) {
  .gradient-border {
    border-width: 2px;
  }
  .project-card {
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
  }

  .product-card img {
    width: 250px;
    height: 250px;
  }
}

/* Footer Section */
footer {
  background: whitesmoke;
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

footer h3 {
  font-size: 48px;
}

footer p {
  margin: 0;
  padding-bottom: 2rem;
}

footer .contact-box {
  background: linear-gradient(
    60deg,
    #00f261,
    #0576e6,
    rgb(247, 16, 255),
    rgb(134, 6, 134)
  );
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  padding: 50px 120px 10px 120px;
  border: 1px solid rgba(144, 143, 143, 0.263);
  padding: 50px 120px 10px 120px;
  border: 1px solid rgba(144, 143, 143, 0.263);
}

footer .contact-box h3 {
  font-size: clamp(2rem, 4vw, 3rem);
}

footer .contact-box p {
  font-size: clamp(1rem, 2vw, 2rem);
  margin: 0;
}

footer .btn-branding {
  background: black;
  border-radius: 4px;
  color: white;
  width: 100%;
  max-width: 150px;
  line-height: 25px;
  font-size: clamp(0.8rem, 2vw, 1rem);
  padding: 15px 20px;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 4px 14px;
  font-size: 32px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

footer .animate__animated {
  animation-duration: 3s;
}

.open-source {
  font-size: 20px;
  color: var(--branding-color);
}

.open-source-link {
  text-decoration: none;
  color: var(--branding-color);
}

.open-source-link:visited {
  color: var(--branding-color);
}

@media (max-width: 768px) {
  footer h3 {
    text-align: center;
    justify-content: center;
  }
  footer p {
    text-align: center;
    justify-content: center;
  }

  footer .btn-branding {
    margin: auto;
    margin-bottom: 2rem;
    justify-content: center;
    display: block;
  }
}

@media (max-width: 900px) {
  .content {
    text-align: center;
    padding: 0;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
