:root {
  --branding-color: #222043;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

.logo {
  max-height: 40px;
}

/* Navbar Section */

nav {
  padding: 20px 0;
}

.nav-container {
  background: linear-gradient(
    60deg,
    #00f26180,
    #0576e678,
    rgba(247, 16, 255, 0.496),
    rgba(134, 6, 134, 0.483)
  );
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  padding-left: 2rem;
  padding-right: 2rem;
}

.navbar-branding {
  font-size: 30px;
  font-family: "Dancing Script", cursive;
  margin-top: 8px;
  padding: 15px 15px;
  border-radius: 50%;
  background: whitesmoke;
}

nav .logo-1 {
  color: black;
}

nav ul {
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  font-size: clamp(1.2rem, 2vw, 1.8rem);
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: whitesmoke;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li a.active {
  color: rgb(2, 2, 2);
}

@media (max-width: 900px) {
  nav .logo-1 {
    max-width: 50%;
    max-height: 50%;
  }
}

/* Feature Projects */

.featured-projects {
  background: whitesmoke;
  font-size: 26px;
  padding: 2rem;
}

.featured-projects .animate__animated {
  animation-duration: 3s;
}

/* Work Section */

.project {
  background: linear-gradient(90deg, #000000, #959696, #fafafb);
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
  height: fit-content;
  color: var(--secondary-color);
  padding: 6rem calc((100vw - 1100px) / 2);
  text-align: center;
  z-index: 1;
}

.project-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 1rem;
  padding-right: 1rem;
  z-index: 2;
}

.project-card {
  background: linear-gradient(90deg, #fafafb, #818383, #000000);
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
  height: fit-content;
  padding: 2rem;
  padding-bottom: 3rem;
  margin-bottom: 2rem;
  height: 600px;
  width: 340px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 4;
}

.project-card h2 {
  font-size: clamp(2rem, 5vw, 2.5rem);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  background: linear-gradient(0deg, #000000, #fff);
  background-repeat: no-repeat;
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(2, 2, 2, 0.5);
}

@keyframes animate {
  0% {
    background-position: -600%;
  }
  100% {
    background-position: 600%;
  }
}

.project-card img {
  width: 250px;
  height: 250px;
  animation-duration: 3s;
}

.gradient-border {
  border-width: 10px;
  position: relative;
  border-radius: 10px;
}

.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * 5px);
  left: calc(-1 * 5px);
  height: calc(100% + 5px * 2);
  width: calc(100% + 5px * 2);
  background: linear-gradient(
    60deg,
    #00f260,
    #0575e6,
    rgb(247, 16, 255),
    rgb(134, 6, 134)
  );
  border-radius: calc(2 * 10px);
  z-index: 3;
  animation: animate 10s infinite;
  filter: blur(50px);
}

.gradient-border:hover:after {
  opacity: 1;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 350px 0;
  }
  50% {
    background-position: 0 350px;
  }
  75% {
    background-position: -350px 0;
  }
  100% {
    background-position: 0 -350px;
  }
}

@media screen and (max-width: 500px) {
  .gradient-border {
    width: 80%;
    height: 100%;
  }
  .project-card {
    justify-content: space-between;
  }
  .product-card img {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 768px) {
  .gradient-border {
    padding-bottom: 0;
  }

  .product-card img {
    width: 250px;
    height: 250px;
  }
  .project-card {
    max-width: 100%;
    margin-bottom: 0;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1100px) {
  .project-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .gradient-border {
    width: 80%;
    height: 100%;
    border-width: 2px;
  }
  .project-card {
    width: 100%;
    margin-bottom: 2rem;
    justify-content: space-between;
  }
  .product-card img {
    width: 250px;
    height: 250px;
  }
}

/* Footer Section */
footer {
  background: linear-gradient(
    60deg,
    #00f26180,
    #0576e678,
    rgba(247, 16, 255, 0.496),
    rgba(134, 6, 134, 0.483)
  );
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

footer h3 {
  font-size: 48px;
}

footer p {
  margin: 0;
  padding-bottom: 2rem;
}

footer .contact-box {
  background: whitesmoke;
  padding: 50px 120px 10px 120px;
  border: 1px solid rgba(144, 143, 143, 0.263);
}

footer .contact-box p {
  margin: 0;
}

footer .btn-branding {
  background: rgb(134, 6, 134);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 4px 14px;
  font-size: 32px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

footer .animate__animated {
  animation-duration: 3s;
}

.open-source {
  font-size: 20px;
  color: var(--branding-color);
}

.open-source-link {
  text-decoration: none;
  color: var(--branding-color);
}

.open-source-link:visited {
  color: var(--branding-color);
}

@media (max-width: 900px) {
  .content {
    text-align: center;
    padding: 0;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
